@(employees: List[models.Employee],categories: List[models.Department])
@main("Employee"){


    @* Display successful new product message from flash, if it is set *@
	@if(flash.containsKey("success")) {
		<div class="alert alert-success">
			@flash.get("success")
		</div>
}
    <div class="col-sm-3">
		
	        <ul class="list-group">
                    <a href = "@routes.HomeController.employees(0)" class="list-group-item"><strong>Departments</strong></a>
		        @for(c<-categories) {
			        <a href = "@routes.HomeController.employees(c.getId())" class="list-group-item catheight">@c.getName
                        <span class="badge">@c.getEmp.size</span> 
                    </a>
			    }
            </ul>
    </div>

    <div class="col-sm-9">
        <h4 style="text-align: center;"><strong>Employees</strong></h4>
        <table class="table table-bordered table-hover table-condensed">
            <thead>
        <!-- The header row-->
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Department</th>
            <th>Address</th>
            
      
        </tr>
        </thead>
        <tbody>
 
       
            @* Loop for creating table rows from Employee data *@
            @for(i<-employees) {
               <tr>
                  <td>@i.getId</td>
                  <td>@i.getFname</td>
                  <td>@i.getLname</td>
                  <td>@i.getDepartment.getName</td>
                  <td>@i.getAdd.getAddressName</td>
                 
						<td>
                            <a href="@routes.HomeController.updateEmp(i.getId)">

                                <button type="button" class="btn btn-success btn-xs">Edit</button>
                                </a>
                </td>
                  <!-- Delete button -->
						<td>
							<a href="@routes.HomeController.deleteEmp(i.getId)" onclick="return confirmDel();">
                                <button type="button" class="btn btn-danger btn-xs">Delete</button>
							</a>
                </td>
               </tr>
            }
        
        </tbody>
    </table>

    <p>
        <a href="@routes.HomeController.addEmp()">
            <button class="btn btn-primary">Add Employee</button>
        </a>
</p>
</div>
 }